.centered-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height based on your requirements */
  }
  .banner {
    position: relative;
    z-index: 1;
    /* Add any other styles you need for the banner */
  }
  
  .datetime {
    position: relative;
    z-index: 2;
    /* Add any other styles you need for the datetime section */
  }
  
  .home-button {
    position: relative;
    z-index: 2;
    /* Add any other styles you need for the home button */
  }

  .scrollable-column {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100px; /* Set the desired height of the scrollable column */
  }

  #mech1{
    height: 95px;
  }

  #time{
    text-align: right;
    padding-right: 40px;
  }
  .custom-area{
    margin-top: 10px;
  }
  
  #banner{
    background-color:dodgerblue;
  }

  #cb{
    height: 120px;
  }
