.custom-lbox {
    background: whitesmoke;
    font-family: verdana;
    font-weight: bold;
  }
  
  #gg {
    width: 1100px;
    table-layout: fixed; 
  }

  #commentstext{
    width: 70px;
    height: 300px;
    border: none;
  }

  .custom-table {
    background-color: #5E7D7E;
  }

  .tb1 {
    margin: none;
    border: none;
    height: 300px;
    width: 100%; 
    text-align: center; 
  }
  
  #finalsubmit {
    margin-left: 500px;
  }
  
  table tr:nth-child(even) {
    background-color: white;
  }
  
  .custom-card-color {
    background-color: white;
  }
  
  .custom-tb,
  .custom-tb2 {
    border-color: black;
  }
  
  .table th,
  table tr,
  table td {
    border-color: black;
  }

  .custom-cardbdy{
    background-color: #b7c7d0;
  }
  
  .custlabel4{
    margin-top: 20px;
    text-align: right;
  }

  .comp4col{
    text-align: left;
  }

  .insrow{
    padding: -10px;
  }