.customlbox{
    background: #a8d2fd;
    font-family: verdana;
    font-weight: bold;
}

.customtable {
    border-collapse: collapse;
}

table td,
table th {
    padding: 8px;
    border: 1px solid #e4eaf0;
} 

table tr:nth-child(even) {
    background-color: #f2f3f5;
}

table th {
    background-color:  #a8d2fd;
    color: rgb(10, 10, 10);
}

.select {
    width: 100%;
    padding: 4px;
}

.submit-button {
    background-color: #5E7D7E;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.custom-font{
    font-family: Verdana;
}

.insrow{
    padding: -10px;
}
