.customlbox{
    background: #a8d2fd;
    font-family: verdana;
    font-weight: bold;
    
}
#bgcolor{
    background-color: #b7c7d0;
}
.customtable {
    border-collapse: collapse;
    height: 200px;
}

.custombt
{
    width: 200px;
}
table td,
table th {
    padding: 8px;
    border: 1px solid #e4eaf0;
} 

table tr:nth-child(even) {
    background-color: #e4eaf0;
}

table th {
    background-color:  #e4eaf0;
    
}

.select {
    width: 100%;
    padding: 4px;
}

.submit-button {
    background-color: #5E7D7E;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.custom-font{
    font-family: Verdana;
}

.insrow{
    padding: -2px;
    
}
.insrow2{
    padding: -10px;
    
}
.insrow3{
    padding: -2px;
    
}