.custom-bg-color{
  background-color : rgb(200, 232, 217);
}

.custom-b-color{
  background-color: rgb(236, 244, 241);
}

.btn-custom-btn{
  background-color:  rgb(200, 232, 217);
}

.custom-text-color{
  background-color: rgb(174, 193, 230);
}

.custom-effort{
  background-color: rgb(226, 237, 248);
}

.custom-bg1-color{
  background-color: rgb(242, 213, 198);
}

.custom-b1-color{
  background-color: #f0e6dcaf;
}

.custom-b2-color{
  background-color:rgba(221, 232, 234, 0.728)
}

.first-div {
  margin-bottom: 10px;
}

.second-div {
  margin-top: 10px;
}

.custom-title{
  background-color:#cee2e6cc;
  font-weight: bolder;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.toggle-button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.toggle-button.on {
  background-color: #4CAF50;
}

.toggle-button.on::before {
  transform: translateX(30px);
}

.custom-font{
  background-color: #5E7D7E;
}


.custom-cardbdy{
  margin-bottom: -15px;
  margin-top: 0px;
  margin-right: 50px;
}

.c1{
  text-align: left;
}



.custlabel{
  text-align: right;
  padding-right: 10px;
}

.custom-card{
  background-color: #b7c7d0;
}

.custom-textfld{
  background-color: #cfd9de;
}

.custom-bg-color{
  background-color : rgb(200, 232, 217);
}

.custom-b-color{
  background-color: rgb(236, 244, 241);
}

.btn-custom-btn{
  background-color:  rgb(200, 232, 217);
}

.custom-text-color{
  background-color: rgb(174, 193, 230);
}

.custom-effort{
  background-color: rgb(226, 237, 248);
}

.custom-bg1-color{
  background-color: rgb(242, 213, 198);
}

.custom-b1-color{
  background-color: #f0e6dcaf;
}

.custom-b2-color{
  background-color:rgba(221, 232, 234, 0.728)
}

.first-div {
  margin-bottom: 10px;
}

.second-div {
  margin-top: 10px;
}

.custom-title{
  background-color:#cee2e6cc;
  font-weight: bolder;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.toggle-button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.toggle-button.on {
  background-color: #4CAF50;
}

.toggle-button.on::before {
  transform: translateX(30px);
}

.custom-font{
  background-color: #5E7D7E;
}

.custom-field{
  padding: 0%;
  margin: 0%;
  text-align: left;
}

.custom-textfield0{
  background-color:  #ffffff;
  border-color: black;
}

.c1{
  text-align: left;
}
