.custom-bg-color{
    background-color : #5E7D7E;
}

.custom-b-color{
    background-color: rgb(212, 225, 232);
}

.btn-custom-btn{
    background-color:  rgb(200, 232, 217);
}

.custom-text-color{
    background-color: rgb(174, 193, 230);
}

.custom-effort{
    background-color: rgb(226, 237, 248);
}

.custom-bg1-color{
    background-color: rgb(242, 213, 198);
}

.custom-b1-color{
    background-color: #f0e6dcaf;
}

.custom-b2-color{
    background-color:rgba(221, 232, 234, 0.728)
}

.first-div {
    margin-bottom: 10px;
  }
  
  .second-div {
    margin-top: 10px;
  }

  .custom-title{
    background-color:#cee2e6cc;
    font-weight: bolder;
  }

  .custom-font{
    font-family: Verdana;
  }

  .toggle-button {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .toggle-button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  .toggle-button.on {
    background-color: #4CAF50;
  }
  
  .toggle-button.on::before {
    transform: translateX(30px);
  }

  .custom-card{
    background-color: #b7c7d0;
  }
  .custom-textfield{
    background-color:  #cfd9de;
    border-color: black;
  }
  .custom-textfield3{
    background-color: white;
    border-color: black;
    padding-bottom: 3px;
  }

  .custom-textfield2{
    background-color: white;
    border-color: black;
  }
  
  .bomlabel{
    text-align: right;
    padding-right: 15px;
  }

  #cb{
    background-color:  #b7c7d0;
  }